<div class="space">
    <app-avatar name="Caio Reis" size="big" [style]="'primary'" />
    <app-avatar name="Caio Reis" size="medium" [style]="'primary'" />
    <app-avatar name="Caio Reis" size="small" [style]="'primary'" />

</div>
<text-heading text="para utilizar importe a Class Avatar e utilize a tag:" size="heading6" [weight]="'semiBold'" />
<code>app-avatar name="Caio Reis" size="big | medium | small" [style]="'primary'" </code>
<div class="space">
    <app-avatar name="Caio Reis" size="big" [style]="'secundary'" />
    <app-avatar name="Caio Reis" size="medium" [style]="'secundary'" />
    <app-avatar name="Caio Reis" size="small" [style]="'secundary'" />

</div>
<text-heading text="para utilizar importe a Class Avatar e utilize a tag:" size="heading6" [weight]="'semiBold'" />
<code>app-avatar name="Caio Reis" size="big | medium | small" [style]="'primary'" </code>
<div class="space">
    <app-avatar name="Caio Reis" size="big" [style]="'tertiary'" />
    <app-avatar name="Caio Reis" size="medium" [style]="'tertiary'" />
    <app-avatar name="Caio Reis" size="small" [style]="'tertiary'" />

</div>
<text-heading text="para utilizar importe a Class Avatar e utilize a tag:" size="heading6" [weight]="'semiBold'" />
<code>app-avatar name="Caio Reis" size="big | medium | small" [style]="'primary'" </code>