 h1.text-display-big {
     font-size: 64px;
     line-height: 80px;
     margin: 0px;

 }

 h1.text-display-medium {
     font-size: 56px;
     line-height: 72px;
     margin: 0px;
 }

 h1.text-display-small {
     font-size: 48px;
     line-height: 64px;
     margin: 0px;
 }