@import '@style/colors.scss';

.billingInput input {
    border-radius: 8px;
    border: 1px solid $tertiary-color-200;
    font-size: 14px;
    line-height: 32px;
    margin: 0px;
    padding: 6px 16px;
    transition: 300ms;
    color: $tertiary-color-300;
    font-weight: 500;
    width: 96%;
}


.billingInput input::placeholder {
    color: $tertiary-color-200;
    font-weight: 400;
}

.billingInput input:focus {

    border: 1px solid $primary-color-500;
    outline: 0px solid $primary-color-500;
    box-shadow: 0px 3px 1px -2px #00000027, 0px 2px 2px 0px #00000017, 0px 1px 5px 0px #00000017;

}

.billingInput input:hover {
    box-shadow: 0px 3px 1px -2px #00000027, 0px 2px 2px 0px #00000017, 0px 1px 5px 0px #00000017;

}


.billingInput mat-icon {
    font-size: 24px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 16px;
}