 .heading-text1 h1 {
     font-size: 40px;
     line-height: 56px;
     margin: 0px;
 }

 .heading-text2 h1 {
     font-size: 32px;
     line-height: 48px;
     margin: 0px;
 }

 .heading-text3 h2 {
     font-size: 24px;
     line-height: 40px;
     margin: 0px;
 }

 .heading-text4 h2 {
     font-size: 20px;
     margin: 0px;
     line-height: 36px;
 }

 .heading-text5 p {
     font-size: 16px;
     line-height: 32px;
     margin: 0px;
 }

 .heading-text6 p {
     font-size: 14px;
     line-height: 32px;
     margin: 0px;
 }