@import '@style/colors.scss';

nav.navBar {

    background-color: $secundary-color-700;
    height: 100%;
    position: fixed;
    width: 20%;
}

.navBar a.menuItens {
    color: $tertiary-color-100;
    cursor: pointer;

    text-decoration: unset;
}

.navBar ul {
    padding: 0;
    padding-left: 0px;
}

.navBar li {
    height: 40px;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 12px;
}

li.active {
    background-color: $tertiary-color-100;
    color: $tertiary-color-700;
    border-right: solid 10px #19101f;
}

nav.navBar .active a {
    color: $tertiary-color-700;
}