@use '@angular/material' as mat;
@include mat.core();





$primary-color-100: #FDF9D6;
$primary-color-200: #F1E048;
$primary-color-300: #F0CC44;
$primary-color-400: #ECA237;
$primary-color-500: #E98B31;
$primary-color-600: #E64622;
$primary-color-700: #29110C;


$secundary-color-100: #F7F2FF;
$secundary-color-200: #A480E0;
$secundary-color-300: #712FE9;
$secundary-color-400: #362277;
$secundary-color-500: #302358;
$secundary-color-600: #321F3D;
$secundary-color-700: #19101F;



$tertiary-color-100: #FFF6FF;
$tertiary-color-200: #BEBEBE;
$tertiary-color-300: #858585;
$tertiary-color-400: #59565F;
$tertiary-color-500: #3D354A;
$tertiary-color-600: #202020;
$tertiary-color-700: #141414;


$custom-app-primary: mat.define-pallete(mat.$primary-color-100)