<div>
    <div class="codes">
        <text-heading text="Heading 1" size="heading1" [weight]="'semiBold'" />
        <text-heading text="para utilizar importe a Class Heading e utilize a tag:" size="heading6"
            [weight]="'semiBold'" />
        <code>text-heading text="Heading 1" size="heading1" [weight]="'semiBold'"</code>
    </div>
    <br>

    <text-heading text="Heading 2" size="heading2" [weight]="'semiBold'" />
    <text-heading text="para utilizar importe a Class Heading e utilize a tag:" size="heading6" [weight]="'semiBold'" />
    <code>text-heading text="" size="heading2" [weight]="'semiBold'"</code>
    <br><br>

    <text-heading text="Heading 3" size="heading3" [weight]="'semiBold'" />
    <text-heading text="para utilizar importe a Class Heading e utilize a tag:" size="heading6" [weight]="'semiBold'" />
    <code>text-heading text="" size="heading3" [weight]="'semiBold'"</code>
    <br><br>

    <text-heading text="Heading 4" size="heading4" [weight]="'semiBold'" />
    <text-heading text="para utilizar importe a Class Heading e utilize a tag:" size="heading6" [weight]="'semiBold'" />
    <code>text-heading text="" size="heading4" [weight]="'semiBold'"</code>
    <br><br>

    <text-heading text="Heading 5" size="heading5" [weight]="'semiBold'" />
    <text-heading text="para utilizar importe a Class Heading e utilize a tag:" size="heading6" [weight]="'semiBold'" />
    <code>text-heading text="" size="heading5" [weight]="'semiBold'"</code>
    <br><br>

    <text-heading text="Heading 6" size="heading6" [weight]="'semiBold'" />
    <text-heading text="para utilizar importe a Class Heading e utilize a tag:" size="heading6" [weight]="'semiBold'" />
    <code>text-heading text="" size="heading6" [weight]="'semiBold'"</code>

</div>