@import "@style/colors.scss";

.mat-icon {
    width: 20px;
    height: 20px;
    font-size: 12.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chip button {
    background-color: #fff;
    border-radius: 4px;
    height: 24px;
    border: 0px;
    transition: 300ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
}

.primary button {
    border: $primary-color-400 solid 1px;
    color: $primary-color-400;
}

.primary button:hover {
    background-color: #eca23766;
}

.secundary button {
    border: $secundary-color-200 solid 1px;
    color: $secundary-color-200;
}

.secundary button:hover {
    background-color: #36227738;
}

.tertiary button {
    border: $tertiary-color-200 solid 1px;
    color: $tertiary-color-200;
}

.tertiary button:hover {
    background-color: #bebebe56;
}


.success button {
    color: $success-color-100;
}

.success button:hover,
.success button:active {
    color: $success-color-200;
}

.waring button {
    color: $waring-color-100;
}

.waring button:hover,
.waring button:active {
    color: $waring-color-200;
}

.error button {
    color: $error-color-100;
}

.error button:active,
.error button:active {
    color: $error-color-200;
}